<br />
<h2>Search by Ingredients:</h2>

<form action="~/Home/RecipeList">
    <br />
    <p>First Ingredient: <input name="ing1" type="text" /><br />
    <br />
    Second Ingredient: <input name="ing2" type="text" /><br />
    <br />
    Number of Recipes: <input name="num" type="number" /></p><br />
    <input type="submit" value="Get Recipes" />
</form>
