<br />
<h2>Search by Ingredients:</h2>
<p></p>
<form action="~/Home/RecipeList">
    <br />
    <p>First Ingredient: </p><input name="ing1" type="text" /><br />
    <br />
    <p>Second Ingredient: </p><input name="ing2" type="text" /><br />
    <br />
    <p>Number of Recipes: </p>
    <input name="num" value="1" type="radio" /><p>1</p>
    <input name="num" value="5" type="radio" /><p>5</p>
    <input name="num" value="10" type="radio" /><p>10</p>

    <input type="submit" value="Get Recipes" />

</form>

<br />
<h2>Search by Recipe Title:</h2>

<form action="~/Home/RecipeListTitle">
    <br />
    <p>
        Title: <input name="title" type="text" />
    </p>
    <br />
    <br />
    <input type="submit" value="Get Recipe" />
</form>
