.hiddenElement {
    display: none;
}
.recipeImage {
    width: 100px;
    height: auto;
}

.flexContainer {
    color: blue;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    box-shadow: 5px 10px gray;
}

#flexContainer div {
    display: inline-block;
}

#flex {
    width: 25%;
}